#visualizer {
    font-family: monospace;
    color: dimgrey;
}

.block {
    outline-style: solid;
    margin: 10px;
    padding: 3px;
}

.blockid {
    font-size: xx-small;
    outline-style: none;
}

.wordtext {
    outline-style: none;
    color: black;
    font-size: large;
}

.page {
    outline-color: purple;
}

.line {
    outline-color: lime;
}

.word {
    outline-color: wheat;
    display:inline-block;
}

.table {
    outline-color: teal;
}

.cell {
    outline-color: crimson;
}

.mergedcell {
    outline-color: magenta;
}

.keyvalue {
    outline-color: black;
}